<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Shoe</title>
</head>

<body>
    <form action="/sell" method="post">
        <label for="name">Shoe Name:</label>
        <input type="text" id="name" name="name" placeholder="Nike">
        <label for="price">Price:</label>
        <input type="number" id="price" step="0.01" name="price" placeholder="120">
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" placeholder="image.jpg">
        <label for="bid">Base Bid:</label>
        <input type="number" id="bid" step="0.01" name="bid" placeholder="10" min="0" max="price">
        <label for="seller">Seller Name:</label>
        <input type="text" id="seller" name="seller" placeholder="John Doe">
        <button value="submit">Submit</button>
    </form>
</body>

</html>